.wrap__menu{
    background: #0F2438;
    width: 1920px;
    height: 36px;
    display: flex;
    justify-content:space-around;
}
.color__white{
    color: white;
}

.wrap__nav{
    display: flex;
    column-gap: 30px;
}
.moscow{
    display: flex;
    font-size: 14px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.moscow img{
    color: white;
}
.dropdown{
    font-size: 14px;
}
.dropdown button{
    color: white;
    background: none;
    border: none;
    font-size: 14px;
}

.wrap__info{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;

}

.box__info1{
    width: 64px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}

.box__info2{
    width: 48px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.box__info3{
    width: 61px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.box__info4{
    width: 57px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.box__info5{
    width: 52px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.box__info6{

    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}
.box__info7{
    width: 66px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
}

.menu1{
    display: flex;
    width: 1920px;
    height: 150px;
    padding-top: 30px;
    column-gap: 40px;
    justify-content:space-evenly;
}
.card{
    display: flex;
    width: 73px;
    height: 83px;

}
.menu1__1{
    display: flex;
    column-gap: 20px;
}
.menu1__2 p{
    display: flex;
    width: 190px;
    height: 400px;
    font-size: 14px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box__menu1{
    display: flex;
    column-gap: 10px;

}
.menu__time{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
.box__menu1 p{
    display: flex;
    width: 216px;
    height: 40px;
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
}

.box__watssapp{
    background: #E1EFD0;
    display: flex;
    width: 204px;
    height: 30px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.box__caal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
.box__caal h{
    font-size: 20px;
}
.box__caal p{
    font-size: 12px;
}
.wrap__nav2{
    display: flex;
    width: 1920px;
    column-gap: 30px;
    justify-content:space-evenly;
    align-items: center;


}
.cataloge1{
    display: flex;
    width: 164px;
    height: 53px;
    color: white;
    background: #005BB9;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    justify-content:center;
    align-items: center;

}


.form-inline{
    display: flex;
    width: 500px;

}

.btn{
    background: #005BB9;
    color: white;
}

.wrap__nav__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;

}
.carousel__wrap{
    display: flex;
    width: 1920px;
    height: auto;
    position: relative;
    padding-top: 10px;
}
.carousel-item h2{
    position: relative;
    left: 250px;


}
.wrap__carouse__wrap{
    width: 70%;
    height: auto;

}

.carousel__wrap__box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    position: relative;
    row-gap: 10px;
}

.carousel__wrap__box1{
    display: flex;
    width: 720px;
    height: 320px;
    background: rgba(250, 235, 215, 0.5);
    position: relative;
    padding: 10px;
    border: solid;color: gray;
    border-radius: 10px;

}

.carousel__wrap__box1 h2{
    color: black;
    position: relative;
    left: 10px;
}

.carousel__wrap__box1 button{
    position:absolute;
    right: 20px;
    bottom: 20px;
}
.carousel__wrap__box2{
    display: flex;
    width: 720px;
    height: 320px;
    background: rgba(250, 235, 215, 0.5);
    position: relative;
    padding: 10px;
    border: solid;color: gray;
    border-radius: 10px;


}

.carousel__wrap__box2 h2{
    color: black;
    position: relative;
    left: 10px;
}

.carousel__wrap__box2 button{
    position:absolute;
    right: 20px;
    bottom: 20px;
}

.sales{
    display:flex;
    width: 1920px;
    height: 100px;
    padding-left: 30px;
    column-gap: 30px;
    justify-content:start;
    align-items: center;


}

.cataloge2{
    display: flex;
    height: 53px;
    color: white;
    background: #005BB9;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    justify-content:center;
    align-items: center;
    padding: 20px;

}

.cataloge3{
    display: flex;
    height: 53px;
    border:solid;
    color: #005BB9;
    background: white;
    border-radius: 5px;
    font-size: 18px;
    justify-content:center;
    align-items: center;
    padding: 20px;



}

.wrap__colum{
    display: flex;
    width: 1920px;
    column-gap: 50px;
    justify-content: space-evenly;



}
.wrap__colum div{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 20px;


}


.button__colum{
    display: flex;
    width: 50%;
    height: 53px;
    color: white;
    background: #005BB9;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    justify-content:center;
    align-items: center;
    padding: 20px;
}
.down__button{
    width: 1920px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.down__button1{
    display: flex;
    width: 20%;
    height: 53px;
    color: blue;
    border: solid;
    border-radius: 5px;
    font-size: 18px;
    justify-content:center;
    align-items: center;
    padding: 20px;
    background: white;
}

.down__button h2{
    position: absolute;
    left: 0;
    bottom: 0;

}

.gray__down{
    display: flex;
    width: 1920px;
    height: 10px;
    background: gray;
    justify-content: space-evenly;
    position: absolute;

}


.black1{
    display: flex;
    width: 150px;
    height: 50px;
    background:black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 10px;

}

.block__end{
    display: flex;
    width: 1920px;
    height: auto;
    justify-content: space-evenly;
    align-items: start;
}
.block__end div{
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.block__end2{
    display: flex;
    background: #0C1A2A;
    width: 1920px;
    height: 500px;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative;
}
.block__end2 div{
    display: flex;
    width: 500px;
    height: 300px;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    color: #9bacd9;
    position: relative;
}

.block__end2 p{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 10px;
    position: relative;
    color: white;
    font-size: 16px;

}

.email__button{
    display: flex;
    width: 200px;
    height: 40px;
    background: blue;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}